@using ADProject.Controllers
@model ADProject.Models.HelperModels.CustomCalender

@{
    ViewBag.Title = "AnalyticPage";
    List<DataAnalyticsController.Container> containers = ViewData["containers"] as List<DataAnalyticsController.Container>;
    List<SelectListItem> selectListCategory = ViewData["selectListCategory"] as List<SelectListItem>;

}

<h2>Analytic Page</h2>
@using (Html.BeginForm("DemandAnalysis", "DataAnalytics", FormMethod.Post))
{


    <div class="form-group" style="display:inline-block; margin-right:10px">
        @Html.Label("Date")
        @Html.EditorFor(m => m.StartDate, new { @class = "form-control", style = "display:inline-block" })
        @Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "text-danger" })
    </div>
    @Html.Label("Category")
    <div class="form-group" style="display:inline-block; margin-right:10px">
        @Html.DropDownList("CategoryId", selectListCategory, new { @class = "form-control" })
    </div>
    <input type="submit" value="Submit" class="btn btn-primary" />


}

<hr />




